<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Assigned Car to Garage</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">GarageTeam</a>
        <a class="navbar-brand" href="/garages">Garages</a>
        <a class="navbar-brand" href="/cars">Cars</a>
    </nav>
    <main class="container">
        <h3>Cars assgined to this garage</h3>
        {% for car in cars %}
        <ul class="list-group">
            <li class="list-group-item">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">{{ car.car_to_repair }}</li>
                    <button type="button" class="list-group-item list-group-item-action"
                        onclick="repairCar({{car.id}})">RepararCoche</button>
                </ul>
            </li>
        </ul>
        {% endfor %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script>
        function repairCar(id) {
            const options = {
                method: 'Delete',
                headers: {
                    'Access-Control-Allow-Origin':'*'
                }
            }
            let url = "/api/workingcar/carrepaired?id=" + id
            fetch(
                url,
                options
            )
                .then(response => {
                    alert("Coche reparado correctamente")
                    window.location.reload();
                })
                .catch(err => alert("Error: " + err))
        }
    </script>
</body>

</html>